/* Background */
body {
    font-family: 'League Gothic', sans-serif;
    max-width: 100vw;  
    max-height: 100vh;
    background-image: url("https://wallpapertops.com/walldb/original/3/d/1/332352.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

/* Container */
main {
    align-content: center;
    max-width: 960px;  
    margin: 0 auto;
    letter-spacing: 1px;
}

/* Título */
.title h1{
    margin-top: 20px ;
    font-size: 80px;
    font-family: 'Homemade Apple', cursive;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: 	#FFFFFF;
    padding-bottom: 50px;
    border-bottom: 1px solid #FFFFFF;
  
}

.subtitle {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
}

.subtitle-1 {
    margin-top: 0;
}

/* Vídeo */

.video {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 24px;
}

p {
    color: #FFFFF;
}


.video p {
    max-width: 900px;  
    margin: 10px auto;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
}

/* Convite */

.convite {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;  
    margin: 0 auto;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.p3, .p5 {
    text-decoration: underline #fffb00;
}

.p5 {
    border: 3px solid #F0F8FF;
    border-radius: 4px;
    padding: 10px;
    letter-spacing: 3px;
    color: #fffb00;
    font-size: 30px
}

/*  Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;  
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.card-1, .card-2, .card-3, .card-4, .card-5 {
    flex-direction: column;
    border: 3px solid #FFFFF;
    border-radius: 4px;
    padding: 10px;
    width: minmax(250px);
    height: minmax(100px, 200px);
    margin: 10px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img-card-ney {
    display: flex;
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 700px;
    border-radius: 4px;
    border: 3px solid #2F4F4F;
    align-items: center;
    justify-content: center;
    border: 3px solid #F0F8FF;
    border-radius: 4px;
    display: flex;
}
.img-card {
    width: 250px;
    height: 300px;
    background-image: url(https://pbs.twimg.com/media/ESqkGSsXgAA4gSl.jpg);
    background-repeat: repeat;
    background-position: center;
    border-radius: 4px;
    border: 3px solid #2F4F4F;
}

/* Formulário */

.formulario {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;  
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 3px solid #FFFFFF;
    padding: 10px;
    color: #FFFFFF;   
}
/*Formulário*/
.formulario {
    background-color: #fffb0017;
}
.formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    align-items: center;
}

#name, #email {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#submit {
    border: 2px solid #fff;
    width: fit-content;
    margin-top: 20px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor : pointer;
}

#submit:hover {
    
    background: #fffb00;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: .8s;
    
}

/* Rodapé */

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    padding: 20px 10px 10px 10px;
}


@media screen and (min-width: 360px) and (max-width: 540px) {
     /*Background*/
    body {
        background-image: url("https://wallpapertops.com/walldb/original/c/5/3/332417.jpg");
        background-color: #2F4F4F;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;    
        }    
    /*content*/
    main {
        min-width: 360px;  
        text-align: center;
        align-items: center;
    }
    /*  title*/
    .title h1{
        font-size: 50px;
        text-align: center;
        align-items: center;
    }
    /*card Neymar*/
    .img-card-ney {
        width: 300px;

    }
    /*vídeo*/
   iframe{
       width: 300px;
       height: 300px;
   }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
    /*Background*/
    body {
        background-position: center;    
    }
    /*content*/
    main {
        min-width: 360px;  
        margin: 0 auto;
        background-color: #2f4f4f0e;
        letter-spacing: 1px;
        text-align: center;
        align-items: center;
    }
    /*  title*/
    .title h1{
        font-size: 70px;
    }
    /*card Neymar*/
    .img-card-ney {
        width: 600px;
        height: 400px;

    }
    /*vídeo*/
    iframe{
       width: 600px;
       height: 400px;
   }
}

